@import "tailwindcss";

@source "../**/*.vue";
@source "../**/*.ts";
@source "../**/*.js";
@source "../**/*.blade.php";

@theme {
  --header-height: 70px;
  --container-padding: 20px;
  --primary-color: var(--color-gray-600);
  --secondary-color: var(--color-gray-300);

  --nv-root-top: calc(var(--header-height) + var(--container-padding));
}

.popper {
    @apply mt-1 w-[35vw] rounded-none border-(--primary-color);
}

@media (max-width: 370px) {
    .popper {
        @apply w-[95vw] rounded-none border-(--primary-color);
    }
}

.multiselect {
    .multiselect__tags {
        @apply border-(--primary-color);
    }
}


.redglass-input {
    @apply bg-white rounded-sm border border-(--primary-color) focus:outline-none focus:ring-(--secondary-color) focus:border-(--secondary-color) sm:text-sm p-2;
}

.redglass-input-qty {
    @apply flex-1 block w-full border-(--primary-color) text-left text-sm px-3 ring-(--primary-color) outline-0 focus:ring-(--secondary-color) focus:border-(--secondary-color) border;
}

.redglass-btn-info {
    @apply w-full inline-flex justify-center items-center px-3 py-2 border border-(--secondary-color) shadow-sm text-xs font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none;
}

.redglass-card {
    @apply bg-white border border-(--secondary-color) rounded-lg shadow-sm hover:shadow-md transition-shadow;
}

.redglass-input-label {
    @apply pl-1 block text-xs font-medium text-gray-400;
}


.redglass-label-unit-type {
    @apply inline-flex items-center rounded-l-md px-3 border border-r-0 border-(--primary-color) text-gray-500 text-sm;
}

.redglass-card-header {
    @apply text-3xl font-bold tracking-tight text-(--primary-color) mb-8;
}

.redglass-btn-buy {
    @apply inline-flex items-center px-3 py-2 border border-l-0 border-transparent text-xs font-medium rounded-r-md text-white bg-(--primary-color) hover:bg-(--primary-color)/75 focus:outline-none;
}

.redglass-btn-checkout {
    @apply border border-transparent text-xs font-medium rounded shadow-sm text-white bg-(--primary-color) hover:bg-(--primary-color)/75 focus:outline-none;
}

.redglass-btn-clear {
    @apply border border-transparent text-xs font-medium rounded shadow-sm text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none;
}
